.wrapper {
  display: flex;
  max-width: 70%;
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-top: 10%;
  margin-right: auto;
  flex-direction: column;
}

.list_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.up_button {
  margin: 15px 5px;
  color: black;
}

.up_number {
  font-size: 1.2vw;
  font-weight: 600;
}

.section_wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
}

.row_flexbox {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.title {
  font-weight: bold;
  font-size: 2vw;
}

.reply_count {
  margin-left: 5px;
  font-size: 2vw;
  color: green;
}

.write_time {
  font-size: 1vw;
  color: black;
}

.nickname {
  font-size: 1vw;
  color: black;
  margin-left: auto;
}

.image_wrapper {
  position: relative;
  display: block;
  height: 100px;
  width: 20%;
  min-width: 100px;
  margin-left: auto;

  background-size: contain;
  background-repeat: no-repeat;
}
