/* Black Han Sans Font IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/* Naum Gothic 400 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@font-face {
  font-family: "SF";
  src: url("./Font/SF-Pro.ttf") format("truetype");
}

#root,
.screen,
html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-image: url(https://meadlight.com/assets/images/texture.jpg); */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  display: block;
}
